body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.App{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.header{
  width: 100%;
  height:7.5%;
  background-color: black;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}
.messages{
  width: 100%;
  height: 85%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.newMessage{
  width: 100vw;
  height: 7.5%;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.sendButton{
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: white;

}
.userInput{
  height: 30px;
  width: 80%;
  background-color: white;
  border-radius: 50px;
}
.recName{
  margin: 0;
  font-size: 15pt;
  color: white;
}

.messageBody{
    width:90%;
    height:auto;
    margin-bottom: 30px;
    background-color: wheat;
    align-self: flex-end;
    margin-right: 5px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 5px;
}
.messageContent{
    grid-row: 1/2;
    grid-column: 1/3;
}
.sender{
    font-size: 7pt;
    align-self: flex-end;
}
.timeStamp{
    font-size: 5pt;
    align-self: flex-end;
}