
.App{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.header{
  width: 100%;
  height:7.5%;
  background-color: black;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}
.messages{
  width: 100%;
  height: 85%;
}
.newMessage{
  width: 100vw;
  height: 7.5%;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.sendButton{
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: white;

}
.userInput{
  height: 30px;
  width: 80%;
  background-color: white;
  border-radius: 50px;
}
.recName{
  margin: 0;
  font-size: 15pt;
  color: white;
}