.messageBody{
    width:90%;
    height:auto;
    margin-bottom: 30px;
    background-color: wheat;
    align-self: flex-end;
    margin-right: 5px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 5px;
}
.messageContent{
    grid-row: 1/2;
    grid-column: 1/3;
}
.sender{
    font-size: 7pt;
    align-self: flex-end;
}
.timeStamp{
    font-size: 5pt;
    align-self: flex-end;
}