
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  --primary-colour:#263243;
  --background-colour:#121B22;
  --secondary-color:#E0BC1E;
}
.App{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.header{
  width: 100%;
  height:7.5%;
  background-color: var(--primary-colour);
  justify-content: space-evenly;
  align-items: center;
  display: flex;

}
.messages{
  width: 100%;
  height: 85%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background-color: var(--background-colour);
  padding-top: 5px;
}
.newMessage{
  width: 100vw;
  height: 7.5%;
  background-color: var(--primary-colour);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.sendButton{
  height: 30px;
  width: 45px;
  border-radius: 50px;
  background-color: var(--secondary-color);
  color:white;
}
.userInput{
  height: 30px;
  width: 75%;
  background-color: var(--background-colour);
  border-radius: 50px;
  color: white;
  padding-left: 10px;
}
.userInput::placeholder{
  color: white;
}
input{
  border: none;
}
button{
  border:none
}
.recName{
  margin: 0;
  font-size: 15pt;
  color: white;
  font-weight: 500;
}

.messageBody{
  width:90%;
  height:auto;
  margin: 5px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 10px;
  padding-left: 5px;

}
.other{
  align-self: flex-start;
  background-color: var(--primary-colour);
}
.me{
  align-self: flex-end;
  background-color: var(--secondary-color);
}
.messageContent{
  grid-row: 1/2;
  grid-column: 1/3;
  width: 90%;
  overflow-wrap: break-word;
  color: white;
  margin: 5px;
  margin-bottom: 10px;
}
.sender{
  font-size: 7pt;
  align-self: flex-end;
  margin: 0;
  padding: 5px;
}
.timeStamp{
  font-size: 5pt;
  display: flex;
  align-self: center;
  justify-content: flex-end;
  margin: 0;
  padding: 5px;
}
.otherS{
  color: var(--secondary-color);
}
.otherT{
  color: var(--secondary-color);
}
.welcomeScreen{
  background-color: var(--background-colour);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcomeText {
  font-size: 40px;
  color: white;
  line-height: 1.3;
  width: 75%;
  margin-bottom: 35vh;
}

.nameWrapper {
  display: inline-flex;
  align-items: baseline;
}

.userName {
  color: #e0c11c; 
  margin-left: 6px;
}

.cursor {
  color: #e0c11c;
  margin-left: 2px;
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

.startButton{
  background-color: var(--secondary-color);
  color: var(--background-colour);
  width: 75%;
  height: 35px;
  border-radius: 18px;
}
.welcomeInput{
  background-color: white;
  color: var(--background-colour);
  width: 75%;
  height: 35px;
  border-radius: 18px;
  text-align: center;
  margin-bottom: 15px;
  
}
.welcomeInput::placeholder{
  color: var(--background-colour);
}